# Copyright (c) 2026 Renato Mauro
# SPDX-License-Identifier: Apache-2.0

config AUXDISPLAY_STM32_GLASS_LCD
	bool "STM32 Internal Segment LCD (Glass) driver"
	default y
	depends on DT_HAS_ST_STM32_GLASS_LCD_ENABLED
	select HAS_MODULE_HAL_STM32
	select USE_STM32_HAL_LCD
	select USE_STM32_HAL_GPIO
	select USE_STM32_HAL_PWR
	select USE_STM32_HAL_PWR_EX
	help
	  Enable the internal Segment LCD controller driver for STM32 family
	  SoCs (e.g. STM32L4 series). This driver maps the internal hardware
	  registers to the generic Zephyr auxdisplay text interface.
