/*
 * Copyright (c) 2026 Renato Mauro
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&rcc {
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK(APB1, 28)>,
		 <&rcc STM32_SRC_LSE RTC_SEL(1)>;
};

&clk_lse {
	status = "okay";  /* Enable the on-board external quartz at 32.768 kHz */
	driving-capability = <3>;
};

&slcd {
	status = "okay";
};
